parameters:
  paths:
    - config
    - routes
    - src

  level: 0

  ignoreErrors:
    - "#Unsafe usage of new static\\(\\).#"
    - "#\\(void\\) is used.#"
    -
      message: "#Call to an undefined method Laravel\\\\Horizon\\\\RedisQueue::getQueueRedisKey\\(\\)#"
      reportUnmatched: false
