// Dark theme variables
@import 'colors';

$font-family-base: Figtree, sans-serif;
$font-weight-bold: 600;
$font-size-base: 1rem;
$badge-font-size: 0.875rem;

$link-decoration: none;
$link-hover-decoration: underline;

$primary: $violet-500;
$secondary: $gray-500;
$success: $emerald-500;
$info: $blue-500;
$warning: $amber-500;
$danger: $red-500;

$body-bg: $gray-900;
$body-color: $gray-100;

$card-border-width: 0;
$card-border-radius: 0.75rem;
$card-cap-bg: transparent;

$btn-border-radius: 0.375rem;
$btn-border-radius-sm: 0.25rem;
$btn-border-radius-lg: 0.5rem;

$breadcrumb-bg: transparent;
$breadcrumb-divider-color: $gray-600;
$breadcrumb-active-color: $gray-400;

$table-bg: transparent;

$modal-content-bg: $gray-800;
$modal-header-border-color: $gray-700;

$nav-pills-link-active-bg: transparent;
$nav-pills-link-active-color: $gray-100;

$navbar-toggler-border-radius: $btn-border-radius;

$grid-breakpoints: (
    xs: 0,
    sm: 540px,
    md: 720px,
    lg: 1139px,
    xl: 1140px,
) !default;