// Light theme styles
@import 'colors';
@import 'variables';

// Custom theme variables
$header-border-color: rgba($gray-900, 0.05);
$logo-color: $gray-900;
$sidebar-nav-color: $gray-600;
$sidebar-nav-icon-color: $gray-400;
$sidebar-nav-hover-bg: $gray-100;
$sidebar-nav-hover-color: $gray-700;
$sidebar-nav-active-bg: $primary;
$sidebar-nav-active-color: $white;
$sidebar-nav-active-icon-color: $white;
$table-headers-color: $gray-50;
$table-border-color: $gray-200;
$control-action-icon-color: $gray-400;
$control-action-icon-hover: $gray-600;
$card-bg-secondary: $gray-50;
$code-bg: $gray-900;
$new-entries-bg: #fff3cd;
$new-code-entries-bg: #525252;
$btn-muted-color: $gray-600;
$btn-muted-bg: $gray-50;
$btn-muted-hover-color: $gray-700;
$btn-muted-hover-bg: $gray-100;
$btn-muted-active-color: $gray-700;
$btn-muted-active-bg: $gray-200;
$badge-secondary-bg: $gray-100;
$badge-secondary-color: $gray-600;
$badge-success-bg: $emerald-100;
$badge-success-color: $emerald-800;
$badge-info-bg: $blue-100;
$badge-info-color: $blue-800;
$badge-warning-bg: $amber-100;
$badge-warning-color: $amber-800;
$badge-danger-bg: $red-100;
$badge-danger-color: $red-800;
$pill-link: $gray-500;
$pill-link-hover: $gray-600;
$pill-link-active: $gray-700;

// Import Bootstrap with our custom variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import base styles
@import 'base';