$body-bg: #ebebeb;
$font-family-base: Lato;
$font-size-base: 0.95rem;

$primary: #7746ec;

$card-border-width: 0;
$card-inner-border-radius: 5px;
$card-cap-bg: #fff;
$card-bg: #fafafa;

$table-hover-bg: #f5f8fc;

$modal-content-border-width: 0;
$modal-backdrop-opacity: .7;

$input-box-shadow: 0;
$input-btn-focus-box-shadow: 0;
$input-border-radius: 0;

$tooltip-max-width: 500px;
