@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import 'variables';
@import 'node_modules/bootstrap/scss/bootstrap';

body {
    display: flex;
    flex-direction: column;
}

#mainHeader {
    border-bottom: solid 1px #d8d8d8;
}

#mainFooter {
    display: flex;
    justify-content: center;
    margin-top: auto;
    border-top: solid 1px #d8d8d8;
}

.card {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);

    .card-header {
        font-size: 1.3rem;
        padding: 1rem 1.25rem;
    }
}

.modal {
    z-index: 0;

    &.show {
        display: block;
    }

    .modal-dialog {
        z-index: 1050;
    }

    .modal-header {
        background: #fff;
    }

    .modal-content {
        background: #fafafa;
    }
}

#mainSidebar {
    a {
        padding: 0.5rem 0;
        color: $gray-700;
    }

    svg {
        fill: $gray-500;
    }

    li.active {
        a {
            color: $primary;
        }

        svg {
            fill: $primary;
        }
    }

    i {
        position: relative;
        display: inline-flex;
        align-self: center;
        width: 0.4em;
        height: 1em;
        margin-right: 1.5rem;

        svg {
            position: absolute;
            bottom: -0.3em;
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}

.stats {
    overflow: scroll;

    .stat {
        border-color: #d8d8d8;
        border-right-width: 1px;
        border-right-style: solid;
        border-bottom-width: 1px;
        border-bottom-style: solid;

        .stat-title {
            font-size: 0.8rem;
            text-transform: uppercase;
            color: $gray-700;
        }

        .stat-value {
            font-size: 1.4rem;
        }

        .stat-meta {
            font-size: 1rem;
            line-height: 2rem;
        }
    }
}

.statusIcon {
    > svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.icon {
    > svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.icon-sm {
    > svg {
        width: 1rem;
        height: 1rem;
    }
}

.fill-white {
    fill: #fff;
}

.fill-primary {
    fill: $primary;
}

.fill-success {
    fill: $success;
}

.fill-danger {
    fill: $danger;
}

.fill-warning {
    fill: $warning;
}

.card-table {
    margin: 0;

    tr:first-child {
        td {
            border: 0;
        }
    }

    th {
        font-weight: normal;
        padding: 0.5rem 1.25rem;
        vertical-align: middle;
        border: 0;
        background-color: #ebecee;
    }

    td {
        padding: 1.25rem;
    }
}

.card-tabs {
    padding: 0 1.25rem;

    .nav-item {
        margin-right: 1.5rem;
    }

    .nav-link {
        padding: 0.8rem 0;
        color: #495057;
        border: 0;
    }

    .nav-link.active {
        color: $primary;
        border-bottom: solid 2px $primary;
        background-color: transparent;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 2s linear infinite;
}

.exceptionDisplay {
    margin-top: 0.5rem;
    padding: 0.5rem;
    background: #efefef;

    span {
        display: block;
        margin-bottom: 0.5rem;
    }
}

.jobDetailsText {
    overflow-y: scroll;
    max-height: 400px;
    margin-top: 0.5rem;
    padding: 0.5rem;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
    background: #efefef;
    overflow-wrap: break-word;

    span,
    pre {
        display: block;
        margin: 0;
    }
}
