.tabs {
  .df;
}

.tabs-default {
  .bgg6;
  border-bottom: 1px solid #BCBCBC;
}

.tab {
  .mh2;
}

.tab-link {
  height: 4.2rem;
  .df;
  .aic;
  .acc;
  .ft15;
  .tcg7;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.tab-link-active {
  .tc1;
  border-bottom: 3px solid @brand-primary
}

