.xbrdr { border: none }
.brdr1 { border-width: 1px; border-style: solid }
.brdr2 { border-width: 2px; border-style: solid }

.brdr1--top {
  border-top-style: solid;
  border-top-width: 1px
}

.brdr1--left {
  border-left-style: solid;
  border-left-width: 1px
}

.brdr1--right {
  border-right-style: solid;
  border-right-width: 1px
}

.brdr1--bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px
}

.bcg1 { border-color: @gray-1 }
.bcg2 { border-color: @gray-2 }
.bcg3 { border-color: @gray-3 }
.bcg4 { border-color: @gray-4 }
.bcg5 { border-color: @gray-5 }
.bcg6 { border-color: @gray-6 }
.bcg7 { border-color: @gray-7 }

.border-width-1 { border-width: 1px }
.border-bottom-style-solid { border-bottom-style: solid }
.border-color-primary { border-color: @brand-primary }
.border-color-gray-1 { border-color: @gray-1 }

.br2 { border-radius: 2px }
.br3 { border-radius: 3px }
.br4 { border-radius: 4px }
.br6 { border-radius: 6px }
.br23 { border-radius: 23px }
