// Brand Colors
@brand-primary: #7746EC;
@brand-white: #FFF;

// Grays
@gray-1: #D8D8D8;
@gray-2: #EBECEE;
@gray-3: #424C55;
@gray-4: #252D34;
@gray-5: #4D5E6E;
@gray-6: #FAFAFA;
@gray-7: #405263;
@gray-8: #5B656E;
@gray-9: #BDBDBD;
@gray-10: #B1B1B1;
@gray-11: #F8F8F8;

@brand-success: #779356;
@brand-warning: #ff973c;
@brand-danger: red;
@brand-info: yellow;
